.row {
    display: flex;
    justify-content: space-around
}
body{
    background-color: #F29472;
}
.card{
    background-color: #800000;
    color: white;
    border: 4px solid black;
    border-radius: 10px;
}

.card:hover {
    background-color:rgba(100, 149, 237,0.5);
}
.nav a {
    color: green;
}

.nav a:hover {
    color:rgb(73, 0, 0)
    ;
}

.container-fluid {
    background-color:rgb(174, 225, 226);
}

.card-body {
    text-align: center;
}

.card img {
    width: 100%; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 1rem;
}
.sticky-footer {
    position: fixed; /* Sticks the footer to the bottom */
    bottom: 0; /* Places the footer at the bottom */
    width: 100%; /* Makes the footer span the full width of the page */
    background-color: blue; /* Sets the background color */
    color: white; /* Sets the text color */
    text-align: center; /* Centers the text content */
    padding: 20px; /* Adds padding inside the footer */
  }
ul{
    list-style: none;
}
.navbar-toggler-icon {
    background-image: url("./images/drop.webp"); /* Replace with your custom icon if desired */
  }