body {
 background-color: #F29472;

    
}

.card {
    background-color: #800000;
    color: white;
    border: 4px solid black;
    border-radius: 10px;
}

.card:hover {
    background-color: rgba(100, 149, 237, 0.5);
}

.nav a {
    color:navy;
}
.navbar {
    padding-top: 0rem;
}

.row {
    overflow: hidden;
  }
.nav a:hover {
    color: rgb(73, 0, 0);
}

.container-fluid {
    background-color:#5FA8D3 !important;
}

.card-body {
    text-align: center;
}

.card img {
    width: 100%;
    /* Adjust as needed */
    height: 200px;
    /* Adjust as needed */
    object-fit: cover;
    /* Ensures the image covers the area while maintaining aspect ratio */
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 1rem;
}


ul {
    list-style: none;
}

.navbar-toggler-icon {
    background-image: url("./images/drop.webp");
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.card-3 {
    margin-bottom: 10rem;
}

.footer {
    /* background-color:#5FA8D3 !important; */
    text-align: center; /* Centers text horizontally */
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
    height: 100px; /* Adjust based on your content */
    background-color:#5FA8D3 !important;
    padding: 10px;
}
.header, .footer {
    opacity: 1;
    box-shadow: none;
}
